.print {
    border: 1px solid gray;
    width: 500px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

span {
    color: blue;
    font-size: 20px;
}
