* {
    margin: 0 auto;
}

li {
    list-style: none;
    height: 30px;
}

li:hover {
    background-color: gray;
    color: black;
}

ul {
    width: 200px;
}

#container {
    margin: 0 auto;
    width: 1000px;
}

.posi {
    position: relative;
}

.posi ul {
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
}

#hover>li:hover>ul {
    display: block;
}